$myColor: #FFF;

navbar {
    flex-grow: 1,
}
.title {
    margin-left: 10px !important;
    font-size: 20px !important;
    
    a {
        color: $myColor;
    }
}
btn-cadastrar {
    margin-right: 0;
}

